
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  img {
    display: block;
	margin-left: auto;
	margin-right: auto;
  }	

body {
  background-color: #737CA1;
  font-family: san-serif;

  color: solid black;
  line-height: 1.9;
}
 . th {
	 justify-content: center;
 } 


header {
  padding: 30px;
  text-align: center;
}


nav {
  background-color: #566D7E;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  transition: ease-in;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #728FCE;
}


section {
  padding: 10px;
  border: 2px; solid black;
  max-width: 800px;
  margin: 0 auto;
}
 .section2 {
	 display: fixed;
	 gap: 20px;
	 justify-content: center;
 }
 .container {
  
  height: 200px;
  position: relative;
  border-color: #FFFAFA;
}
  .icon {
	  display: flex;
	  gap: 160px;
	  justify: center;
  }
 div.container {
	 text-align: center;
 }

